{% extends "base.html" %}
{% block title %}Login{% endblock %} 
{% block content %}
<form method="Post">
    <br>
    <h3 align="center">Login</h3>
    <div class=""form-group>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email address"/>
        <br>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
        <br/>
        <div align="center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
        <br>
        <div align="center">
            <a href="/sign_up">
                <button type="button" class="btn btn-primary">Create an Account</button>
            </a>
        </div>
    </div>
</form>

{% endblock %}