{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
    <br>
    <h1 align="center">{% block header %}Reviews{% endblock %}</h1>
    <div id="reviews">
      {% for review in reviews %}
      <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
          <a href="/reviews/{{review.user.username}}">{{review.user.username}}</a>
          <div>
            {{ review.hearts|length }}
            {% if user.id in review.hearts|map(attribute="creator")|list %}
            <a href="/heart_review/{{review.id}}"><i class="fa-solid fa-heart"></i></a>
            {% else %}
            <a href="/heart_review/{{review.id}}"><i class="fa-regular fa-heart"></i></a>
            {% endif %}


      
            {% if user.id == review.creator %}
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
              <ul class="dropdown-menu">
                <li>
                  <a href="/delete_review/{{review.id}}" class="dropdown-item">Delete</a>
                </li>
              </ul>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="card-body">
          <div class="card-text"><strong><h1>{{review.title}}</h1></strong></div>
          <div class="card-text">{{review.content}}</div>
          <br>
          <div class="card-text"><strong>Destination:</strong> {{review.destination}}</div>
          <div class="card-text"><strong>Category:</strong> {{review.category}}</div>
          <br/>
          <div class="collapse" id="comments-{{review.id}}">
            <div class="card">
              <div class="card-body" id="comments-expanded-{{review.id}}">
                {% for comment in review.comments %}
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a href="/reviews/{{comment.user.username}}">{{comment.user.username}}</a>: {{comment.content}}
                  </div>
                  <div>
                    <small class="text-muted"> {{comment.date_created}}</small>
                    {% if user.id == comment.creator or user.id == review.creator %}
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-bs-toggle="dropdown"></button>
                      <ul class="dropdown-menu">
                        <li>
                          <a href="/delete_comment/{{comment.id}}"class="dropdown-item">Delete</a>
                        </li>
                      </ul>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <p class="card-text">
            {% if review.comments|length > 0 %}
            <a data-bs-toggle="collapse" href="#comments-{{review.id}}" role="button">
              <small>View {{review.comments|length}} Comments</small>
            </a>
            {% else %}
            <small class="text-muted">No Comments</small>
            {% endif %}
          </p>
          <form class="input-group mb-3" method="POST" action="/create-comment/{{review.id}}">
            <input type="text" id="text" name="text" class="form-control" placeholder="Comment something!"/>
            <button type="submit" class="btn btn-primary">Comment</button>
          </form>
        </div>
        <div class="card-footer text-muted">{{review.date_created}}</div>
      </div>
      <br/ > {% endfor %}
    </div>
    {% block footer %}
    <div align="center">
      <a href="/create_review"
        ><button type="button" class="btn btn-primary btn-lg">
          Create a Review
        </button></a
      >
    </div>
    {% endblock %} {% endblock %}