{% extends "base.html" %}
{% block title %}Login{% endblock %} 
{% block content %}
<head>
    <style>
    body  {
      background-image: url("https://www.wallpaperflare.com/static/210/835/729/photography-sunset-sky-clouds-wallpaper.jpg");
      background-size:cover;
    }
    </style>
</head>
<body>

<form method="Post">
    <br><br>
    <h2 align="center" style="color:#ffffff"><strong>Login Below!</strong></h2>
    <br>
    <div class=""form-group>
        <input type="text" id="email" name="email" class="form-control" placeholder="Email address"/>
        <br>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password"/>
        <br/>
        <div align="center">
            <button class="btn" type="submit" style="background-color: #f4925f;">Login</button>
        </div>
        <br>
        <div align="center">
            <a href="/sign_up">
                <button type="button" class="btn" style="background-color: #da694c;">Create an Account</button>
            </a>
        </div>
    </div>
</form>

{% endblock %}
</body>